[submodule "Libraries/DaisySP"]
	path = Libraries/DaisySP
	url = https://github.com/hemmer/DaisySP.git
	branch = metamodule
[submodule "Tools/hvcc"]
	path = Tools/hvcc
	url = https://github.com/pingdynasty/hvcc.git
	branch = develop
